@font-face {
	font-family: 'Junius Irish';
	font-weight: normal;
	src: url('fonts/junius-irish.ttf');
	font-style: normal;
}

@font-face {
	font-family: 'silkaregular';
	font-weight: normal;
	src: url('fonts/silka-regular-webfont.eot');
	src: url('fonts/silka-regular-webfont.eot?#iefix') format('embedded-opentype'),
			 url('fonts/silka-regular-webfont.woff2') format('woff2'),
			 url('fonts/silka-regular-webfont.woff') format('woff'),
			 url('fonts/silka-regular-webfont.ttf') format('truetype');
	font-style: normal;
}