.scoreboard{
	flex: 1;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 120px;
	margin-bottom: 88px;

	&__scorecards{
		display: flex;
		justify-content: space-between;
		max-width: 1600px;
		width: 100%;
		margin: 0 auto;
	}

	&__card{
		flex: 1;
	}

	&__serving-container{
		display: flex;
		justify-content: center;
		align-items: center;
		height: 10px;
		margin-top: 20px;
		margin-bottom: 20px;
	}

	&__name{
		font-size: 46px;
		font-weight: 600;

		&--serving{
			color: $serving;
			
			&::before{
				content: '';
				display: inline-block;
				width: 34px;
				height: 34px;
				margin-right: 9px;
				background-color: $serving;
				border-radius: 50%;
			}
		}
	}

	&__score{
		margin-bottom: 10px;
		font-size: 340px;
		font-weight: 500;
		line-height: 1;
		letter-spacing: -1.6rem;
	}

	&__quit{
		position: absolute;
		bottom: 73px;
		left: 75px;
		height: 60px;
		padding: 0 40px;
		border: 3px solid $black;
		margin-top: auto;
		background-color: transparent;
		font-size: 24px;
		font-weight: 600;
		transition: all .2s;
		cursor: pointer;
		border-radius: 100px;

		&:hover{
			background-color: darken($white, 10%);
		}
	}

	&__logo{
		position: absolute;
		right: 75px;
		bottom: 73px;
	}
}

.App--overtime{
	padding: 30px !important;
	border: none !important;
	background-color: $black;

	.App__container{
		background-color: $black !important;
	}

	.scoreboard__name{
		color: $white;

		&--serving{
			color: $overtime-color;
			
			&::before{
				background-color: $overtime-color;
			}
		}
	}

	.scoreboard__score{
		color: $white;
	}

	.scoreboard__logo{
		fill: $white;
	}

	.scoreboard__quit{
		border-color: $white;
		background-color: $white;
		color: $black;

		&:hover{
			background-color: darken($white, 10%);
		}
	}
}